/* Tablet */
    #home-page #container {

        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
            "header header" 
            "maincontent login"
            "subcontent follow"
            "subcontent stories" 
            "main main"
            "copyright copyright";
        column-gap: 2em;
        row-gap: 3em;
    }

    #wirte-posts {
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);    */
    padding-bottom: 2.5em;
    }

    body {
        font-size: 1.5vw;
        
    }
    h1{
        font-size: 5vw;
    }
    #edit-profile-image  {
        width: 150px;
        border: 1px solid black;
        border-radius: 50%;
        
    }
    button{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0.2em;
        font-size: 1vw;
    }
    

    #title {
        grid-area: header;
    }
  
    #main-content{
        grid-area:maincontent;
    }
    #main {
        grid-area: main;
    }
    #OtherStories {
        grid-area: stories;
    }
    #login, #user-info, {
        grid-area: login;
    }
    #subcontent {
        grid-area: subcontent;
    }
    #followus {
        grid-area: follow;
    }
    #copyright {
        grid-area: copyright;
    }

}



/*
#container{
	width: 100%;
	max-width:1200px;
	margin:0 auto;


	display: grid;
	grid-template-columns:2fr 1fr;


	grid-template-areas:
		"header menu"
		"main login"
		"main profile"
		"main social";
}
*/


/*#title{
	grid-area:header;
}


#main{
	grid-area:main;
}


#menu{
	grid-area:menu;
}


#login{
	grid-area:login;
}


#profile{
	grid-area:profile;
}


#social{
	grid-area:social;
}*/