#website_nav body nav{

	text-align: center;
    list-style-type: none;


}
#website_nav body nav a{
	font-size: 1.2em;
	color: black;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	padding:1em;

}

#website_nav body nav ul li{
	display: inline;
	margin: 1em;
}
#website_nav body nav ul{
	list-style: none;
	text-align: center;
	padding:1.5em;

}

#website_nav body nav ul li a:hover{
	color: #40c9c9;

}

#website_nav body nav ul:hover{
	background-color: lightyellow;
}
