nav{
	display: inline-block;

}
nav a{
	color: black;
	text-decoration: none;
}

nav ul{
	list-style: none;
	background-color: lightblue;
	margin:0px;
	padding:0px;

}

nav li:hover{
	color: blue;
	background-color: pink;
}
a{
	margin: 0px;
	padding: 0px;

}