#container{
	max-width:800px;
	margin:0 auto;


	display: grid;
	grid-template-columns:1fr 2fr 2fr;
}

img{
	width: 100%;
}

#menu{
	grid-column-start:1;
	grid-column-end:2;


}
#login{
	grid-column-start:2;
	grid-column-end:3;

}



#title{
	grid-column-start:3;
	grid-column-end:4;

}

