input, button {
	font-size: 1em;
	font-family: inherit;
	border: none;
    padding: 0.3em;
}

input:focus, button:focus {
	outline: none;	
}

input {
	border-bottom: 2px solid black;	
    margin-bottom: 1em;
    background: none;
}

button {
	background: #4390d6;

	border-radius: 0.1em;
    
}

#create ul{
	
	justify-content: space-between;
   
    
}


/* create account  */
    #create {
        display: flex;
        flex-wrap: wrap;
    }
    #create button {
        flex-basis: 100%;
        margin: 0.5em;
        font-size: 1.5em;
    }
/*#create input, #create button {
	
}*/