input, button {
	font-size: 1em;
	font-family: inherit;
	border: none;
}

input:focus, button:focus {
	outline: none;	
}

input {
	border-bottom: 2px solid black;	
    margin-bottom: 1em;
}

button {
	background: lightgrey;
	border-radius: 2em;
    width: 3.5em;
}

#create ul{
	
	justify-content: space-between;
}

/*#create input, #create button {
	
}*/