#home-page #container{
	width: 90%;
	max-width:1200px;
	margin:0 auto;
	display: grid;
	grid-template-columns:2fr 1fr 1fr;


	grid-template-areas:
		"header header login"
		"main main login"
        "main main follow"
		"subcontent subcontent stories"
		"copyright copyright copyright";

	column-gap: 2em;
	row-gap: 3em;

    
}


#create-page #container{
	width: 90%;
	max-width:1200px;
	margin:0 auto;



	display: grid;
	grid-template-columns:100%;


	grid-template-areas:
		"menu2"
        "header"
		"main";

	column-gap: 2em;
	row-gap: 3em;
}


#menu{
    grid-area:menu2;
}

#title{
	grid-area:header;
}


#main{
	grid-area:main;
}


#OtherStories{
	grid-area:stories;
}


#login, #user-info {
	grid-area:login;
}


#subcontent{
	grid-area:subcontent;
}


#followus{
	grid-area:follow;
}

#copyright{
	grid-area: copyright;
}








