@media (min-width: 500px)
/*@media (min-width: 501px) and (max-width: 800px) */
{
    #home-page #container {

        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            "header header login" 
            "main main login" 
            "main main follow"
            "main main stories"
            "subcontent subcontent " 
            "copyright copyright copyright";
        column-gap: 2em;
        row-gap: 3em;
    }
    #create-page #container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "menu2" 
            "header" 
            "main";
        column-gap: 2em;
        row-gap: 3em;
    }
    #menu2 {
        grid-area: menu2;
        display: flex;
    }
    #title {
        grid-area: header;
    }
    #main {
        grid-area: main;
    }
    #OtherStories {
        grid-area: stories;
    }
    #login,
    #user-info {
        grid-area: login;
    }
    #subcontent {
        grid-area: subcontent;
    }
    #followus {
        grid-area: follow;
    }
    #copyright {
        grid-area: copyright;
    }
    /* menu flex box */
    #menu ul {
        justify-content: center;
        margin: 2em;
    }
    #menu a {
        font-size: 2em;
    }
    #menu li {
        flex-grow: initial;
    }
    li#home {
        flex-basis: auto;
    }
    
     #posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    }
    #edit-profile-image {
        border: 1px solid black;
        border-radius: 50%;
    }




    
    
}


/* tablet */

/*@media (max-width: 500px) */
@media (max-width: 501px) /*and (max-width: 800px)*/
{
    #home-page #container {
 
        /*@media (min-width:300px){*/
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "header" 
            "login" 
            "main" 
            "subcontent" 
            "follow" 
            "stories" 
            "copyright";
        column-gap: 2em;
        row-gap: 3em;
    }
    #create-page #container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "menu2" 
            "header" 
            "main";
        column-gap: 2em;
        row-gap: 3em;
    }
    /* menu */
    #menu2 ul {
/*        flex-direction: column;*/
    }
    #menu2 li {
        font-size: 1.5em;
    }
    /* create accoun */
    #create {
        display: block;
        flex-wrap: wrap;
    }
    #create input {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 30%;
    }
    #create button {
        width: 200px;
        margin: 1em;
    }
    #create_new_account {
        color: deeppink;
    }



 
    .post {
    display: flex;
    flex-direction: column;
    }


    #edit-profile-image  {
        width: 100px;
        border: 1px solid black;
        border-radius: 50%;
        
    }
    
    
    
    #user-info-detail ul{
        display: flex;
    }




}


/* desktop view - add flex basis rule */













