* {
	color: var(--text-color);
}

#title h1 {
	color: var(--main-color);
}

h3{
	color: var(--complement);
}

#menu2 {
	background-color: var(--accent-one);
}

#login {
	background-color: var(--accent-one);
}

input {
 border: none;   
}

button {
	background-color: var(--accent-two);
	border:1px solid var(--main-color);
}

a {
	color: var(--link-color);
}

#social {
	background-color: var(--complement);
}

#write-post{
	background-color: var(--accent-one);
}
.post .date::before {

	color: var(--main-color);
}
.post{
	background-color: var(--accent-one);
	
}
.user{
	padding: 1em auto 1em;
	background-color: var(--accent-one);
	
}

/*complementary color scheme */
:root {
	--main-hue: 170;
	--complement-hue:calc(var(--main-hue) - 180);
	
	--main-color: hsl(var(--main-hue), 50%, 20%);
	--complement: hsl(var(--complement-hue), 50%, 50%);
	--accent-one: hsl(var(--main-hue), 50%, 90%);
	--accent-two: hsl(var(--complement-hue), 90%, 95%);
		
	--text-color: var(--main-color);
	--link-color: var(--complement);
}

