#home-page #container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "header header header" "maincontent maincontent login" "maincontent maincontent follow" "subcontent subcontent stories" "main main main" "copyright copyright copyright";
    column-gap: 2em;
    row-gap: 0.3em;
}

#pages #container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header  header" "login login" "follow stories" "main main" "copyright copyright";
    column-gap: 2em;
    row-gap: 0.3em;
}

#user-page #container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header  header" "login login" "main main" "follow stories" "copyright copyright";
    column-gap: 2em;
    row-gap: 0.3em;
}

#user-page #posts {
    grid-gap: 1em;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

/*Tablet*/

#create-page #container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main";
    column-gap: 2em;
    row-gap: 3em;
}

#title {
    grid-area: header;
}

#main-content {
    grid-area: maincontent;
}

#main {
    grid-area: main;
}

#OtherStories {
    grid-area: stories;
}

#login,
#user-info {
    grid-area: login;
}

#subcontent {
    grid-area: subcontent;
}

#followus {
    grid-area: follow;
}

#copyright {
    grid-area: copyright;
}


/*#home-page #contaner{
    width: 90%;
    max-width:1024px;
    margin:0 auto;
}

#create-page #container{
    width: 90%;
    max-width:1200px;
    margin:0 auto;
}*/

#shop,
#publish {
    float: right;
}

#write-post {
    padding: 1em 1em 2.5em 1em;
}