#menu{
    text-align: center;
}
#menu2 ul{
    display:inline-flex;
    text-align: center;
    margin: 10;
    padding: 0;
    
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

};


#menu2 ul{
    list-style: none;
    flex-grow: 1;
    flex-basis: 150px;
    margin-right: 1em;
}

#menu_space{
    margin: 1em;
    
}

li #home{
/*    flex-grow: 5;*/
    
}