#posts {
	grid-gap: 1em;
	text-align: left;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;    
}
/*
.post img{
 max-height: 100px;
    
}
*/

.post {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 100px max-content max-content;
	column-gap: 2em;
	row-gap: 1em;

	
	background-color: var(calc((--link-color)-100);
	padding: 0.5em;
}

.post .post-image-file{
	

}
.post .profile-image{
	

}

.post .text {
	background-color: var(--link-color);
	color: var(--main-text);
	text-align: left;
	padding: 0.5em;
	margin: 0.5em;
}

.post .author {
	font-size: 1em;
	color: var(--bg-drk);
	border: solid 2px #000;

}

.post .date {
	background-color: var(--bgDrk);
	color: var(--link-color);
	float: right;
	
}


/*Mobile*/
/*
@media (max-width: 450px) {


	#posts {
		display: grid;
		grid-template-columns: 1fr;
	}
}*/

/*Tablet*/
/*
@media (min-width: 451px) and (max-width: 768px) {
	#posts {
		display: grid;
		grid-template-columns: 1fr;
		
	}


}*/