#user-page #posts {
	grid-gap: 1em;
	text-align: left;
	display: grid;
    grid-template-columns: 100%;
    width: 100%;    
}

#posts {
	grid-gap: 1em;
	text-align: left;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;    
}


#users {
	grid-gap: 1em;
	text-align: left;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;    
}
/*
.post img{
 max-height: 100px;
    
}
*/

.post {
	display: grid;
	grid-template-columns: repeat(2,1fr);
    
/*	grid-template-areas:
		"postimage postimage"
		"posttext posttext"
		"profileimage author"
		"profileimage date";*/

        column-gap: 0.5em;
	/*	row-gap: 1em;*/

	
	background-color: var(calc((--link-color)-100));
/*	padding: 0.5em;*/
}

.post-image-file{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 1/2;
}
.profile-image{
	/*grid-area:profileimage;*/
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 3/6;
   
	

}

.text {
	background-color: var(--accent-two);
	color: var(--main-text);
	text-align: left;
	padding: 0.5em 0.5em 0.5em 0.2em;
	margin:0.5em 0 0.5em 0;
	/*grid-area:posttext;*/
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 2/3;
    min-height: 150px;

}

.author {
	/*grid-area:author;*/
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 3/4;

	font-size: 1em;
/*
	color: var(--bg-drk);
	border: solid 2px #000;
*/

}

.date {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 4/5;
	/*grid-area:date;*/

	background-color: var(--bgDrk);
	color: var(--link-color);
	float: right;
	
}

.permalink {
/*    display: none;*/
    grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 5/6; 
}


/*Mobile*/
/*
@media (max-width: 450px) {


	#posts {
		display: grid;
		grid-template-columns: 1fr;
	}
}*/

/*Tablet*/
/*
@media (min-width: 451px) and (max-width: 768px) {
	#posts {
		display: grid;
		grid-template-columns: 1fr;
		
	}


}*/