
/*Desktop*/
/*@media screen and (min-width: 1024px) {*/
@media (min-width: 1024px)
{
    #home-page #container {

        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            "header header header" 
            "maincontent maincontent login"
            "maincontent maincontent follow"
            "subcontent subcontent  stories" 
            "main main main"
            "copyright copyright copyright";
        column-gap: 2em;
        row-gap: 0.3em;
    }
    
    #users {
    grid-gap: 1em;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;    
    }

    #pages #container{
    width: 90%;
    max-width:1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
    grid-template-areas:
        "header header header" 
        "login follow stories"
        "main main main"
        "copyright copyright copyright";

    column-gap: 2em;
    row-gap: 0.3em;

    }

    #title {
        grid-area: header;
    }
  
    #main-content{
        grid-area:maincontent;
    }
    #main {
        grid-area: main;
    }
    #OtherStories {
        grid-area: stories;
    }
    #login, #user-info, {
        grid-area: login;
    }
    #subcontent {
        grid-area: subcontent;
    }
    #followus {
        grid-area: follow;
    }
    #copyright {
        grid-area: copyright;
    }


    /* menu flex box */
    #menu2 {
        display: flex;
    }

    li#home {
        flex-basis: auto;
    }
    
    #posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    }
    #users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    
    }
    
    #edit-profile-image {
        border: 1px solid black;
        border-radius: 50%;
    }
    
    body {
		font-size: 1.5vw;
		
	}
    h1{
        font-size: 5vw;

    }
    #edit-profile-image  {
        width: 200px;
        border: 1px solid black;
        border-radius: 50%;
        
    }
    button{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0.5em;
        font-size: 0.5vw;
    }
    input, button {
    font-size: 1.5vw;
    font-family: inherit;
    border: none;
    padding: 0.3em;
    }
    input {
    width: 90%;
    border-bottom: 1.5px solid black; 
    margin-bottom: 1em;
    background: none;
}


    
}




/* Tablet *//*
@media screen and (min-width: 415px) {*/
/*@media (max-width:1023) and (min-width:415px)
{
    #home-page #container {

        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
            "header header" 
            "maincontent login"
            "subcontent follow"
            "subcontent stories" 
            "main main"
            "copyright copyright";
        column-gap: 2em;
        row-gap: 3em;
    }

    #posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    }

    body {
        font-size: 1.5vw;
        
    }
    h1{
        font-size: 5vw;
    }
    #edit-profile-image  {
        width: 150px;
        border: 1px solid black;
        border-radius: 50%;
        
    }
    button{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0.2em;
        font-size: 1vw;
    }
    

}*/






/* Mobile */
@media (max-width: 414px)
{
    #home-page #container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "header" 
            "login"
            "maincontent"
            "subcontent"
            "main"
            "follow"
            "stories"
            "copyright";
        column-gap: 2em;
        row-gap: 0.5em;
    }



    #pages #container {
    width: 90%;
    max-width:414px;
    margin:0 auto;
    display: grid;
    grid-template-columns:100%;
    grid-template-areas:
        "header" 
        "login"
        "follow"
        "stories"
        "main"
        "copyright";

    column-gap: 2em;
    row-gap: 0.3em;

    }

    #users {
    grid-gap: 0.2em;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;    
    }


    /* menu */
    #menu2 ul {
/*        flex-direction: column;*/
    }
    #menu2 li {
        font-size: 1.5em;
    }
    /* create accoun */
    #create {
        display: block;
        flex-wrap: wrap;
    }
    #create input {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 30%;
    }
    #create button {
        width: 100%;
        margin: 0;
    }

    #posts {
    display: grid;
    grid-template-columns: 100%;
    
    }
    .post {
    display: flex;
    flex-direction: column;
    }

    
    #user-info-detail ul{
        display: flex;
    }


    #users {
    display: grid;
    grid-template-columns: repeat 1fr;
    
    
    }
    body {
		font-size: 3vw;
		
	}


    #login{
       width: 100%;
       margin: auto;
       padding-top: 10px;     

    }

    #user-info{
       margin: auto;
       padding: auto;

    }

    #login input{
        width: 48%;
    }

    #email{
        float: left;
    }

    #password{
        float: right;
    }

    #edit-profile-image  {
        width: 150px;
        border: 1px solid black;
        border-radius: 50%;
        
    }


    button{
        display: flex;
        justify-content: center;
        text-align: center;
     /*   padding: 0.2em;*/
        font-size: 3vw;
    }

    #login-button{
        width: 50%;
        float: left;
    }

    #create_new_account{
        width: 50%;
        float: right;

    }
    #menu2{
    text-align: center;
    margin: 0.5em;
}

}













